.profil{
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.rezime{
  width: 400px;
  height: 500px;

  position: relative;
}

.rezime h3{
  width: 100%;
  font-size: 3.5rem;
  position: absolute;

  cursor: pointer;
  filter: drop-shadow(0rem 0rem 2rem rgb(0, 0, 0));

  transition: 0.8s 0.5s;
}

.rezime ul{
  width: 100%;
  position: absolute;
  opacity: 0;

  cursor: pointer;

  transition: 0.8s 0.5s;
}
.rezime ul li{
  list-style: none;
  font-size: 1.3rem;
  padding-bottom: 20px;
  filter: drop-shadow(0rem 0rem 2rem rgb(0, 0, 0));
}

.rezime:hover ul{
  opacity: 1;
}
.rezime:hover h3{
  opacity: 0;
}

@keyframes rezimeFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rezimeFadeBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rezime a{
  font-size: 1.5rem;
}

.profilna{
  height: 35rem;
  z-index: 8;

  filter: drop-shadow(-0.5rem 1rem 3rem rgb(0, 0, 0));
}

.row-break{
  flex-basis: 100%;
  height: 0;
}

@media screen and (max-width: 1200px) {
  .profil img{
     height: 40rem;
  }
  .rezime{
    height: 30rem;
  }
  .rezime ul li{
    font-size: 1.8rem;
  }
  .rezime a{
    font-size: 2.1rem;
  }
}

.ikona-rehab{
  height: 5rem;
  width: 5rem;
  max-height: 5rem;
  max-width: 5rem;
  position: absolute;
  filter: drop-shadow(0rem 0rem 1.6rem rgb(0, 0, 0));
}