*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(250, 244, 244); 
    font-family: JosefinSans;
    font-size: 1.4vw;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(5,5,5);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

a{
    font-size: 2.1vh;
    font-family: TiltNeon;
    text-decoration: none;
}

div{
    text-align: center;
}

p{
    text-align: left;
    font-size: 30px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 12px;   
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

span{
  font-size: 22px;
}

.senka1{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    box-shadow: 0px 0px 60px 2px rgba(0,0,0,0.5);   
}
.unutrasnja{
    box-shadow: inset 0px 0px 60px 2px rgba(0,0,0,0.5);
}

.slika{
    background-repeat: no-repeat;
    background-size: cover;
}
.slikaLogo{
    background-image: url("slike/logo.png");
}

.boxZaSliku{
    width: 100%;
    position: relative;
}
.boxslika{
    width: 100%; 
    height: 100%;
}

.topGradient{
    background-image: linear-gradient(black, transparent);
    position:fixed; 
    top: 0; 
    height: 1vh; 
    width: 100%;
    z-index: 200;
}
.bottomGradient{
    background-image: linear-gradient(transparent, black);
    position:fixed; 
    bottom: 0; 
    height: 1vh; 
    width: 100%;
    z-index: 8;
}